:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.8);
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #0b0b0b;
}

#app {
    max-width: 1366px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
}

.input-container {
    width: 70%;
    margin: 5rem auto;
    position: relative;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #213547;
    cursor: pointer;
    transition: border-color 0.25s;
}

#submitBtn {
    padding: 0.4rem 1.2rem;
    position: absolute;
    right: 5px;
    top: 0;
    margin: 0.4rem 0.1rem;
}

#submitBtn:hover {
    background-color: #1a2c3b;
}

input[type="text"] {
    width: 100%;
    margin: auto;
    padding: 0.8rem 3.5rem 0.8rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: inherit;
    outline: none;
    border: 1px solid #1a1a1a;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: rgba(255, 255, 255, 0.7);
}

h3 {
    font-family: inherit;
    font-size: 1.7rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    width: 70%;
    gap: 0.8rem;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background-color: #1e1e1e;
    /* background-color: #000; */
    padding: 1rem;
    /* margin: 0.5rem 0; */
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    /* color: #1a1a1a; */
}

p {
    display: inline;
    font: inherit;
    font-size: 1.3rem;
    margin: 0 0.7rem;
    text-align: start;
}

.checked {
    text-decoration: line-through;
}

.deleteBtn {
    color: #fff;
    background-color: rgba(255, 28, 28, 0.948);
}
.deleteBtn:hover {
    background-color: red;
}

#mode {
    font-size: 1.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}
#mode:hover {
    transform: scale(1.1);
}

/* Change styles when in light mode !  */
.light-mode {
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    > div {
        > div {
            > input[type="text"] {
                background-color: #385a7848;
                color: #1a1a1a;
                border: 0.2px solid #385a78;
            }
            > #submitBtn {
                background-color: #385a78;
                color: #fff;
            }
            #submitBtn:hover {
                background-color: #2c475f;
            }
        }
    }

    > div {
        > div {
            .list {
                background-color: #e7585839;
                color: #000;
            }
        }
    }

    > button {
        color: black;
    }
}

@media screen and (max-width: 468px) {
    #app {
        width: 100vw;
        padding: 2rem 1rem;
    }
    .input-container {
        width: 100%;
    }
    input[type="text"] {
        padding: 0.8rem 3.2rem 0.8rem 1.2rem;
        font-size: 1rem;
        font-weight: 500;
    }
    #submitBtn,
    .deleteBtn {
        padding: 0.3rem 0.8rem;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .list {
        padding: 1rem;
    }
    p {
        font-size: 0.8rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    #mode {
        font-size: 1.4rem;
    }
}
